<body>
    
    <div class="footer">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit harum nihil corporis culpa distinctio modi quod, sed possimus est nemo excepturi officia blanditiis dicta dignissimos nobis ab repudiandae labore obcaecati?</p>
    </div>
</body>   
